/*
* Color files
*/

//white
$white: #FFF;

//black
$black: #000;

//grey
$dark-grey: #CCCCCC;
$light-grey: #F9F9F9;
$grey: #A3A3A3;

//blue
$dark-marine-blue: #3B4550;
$light-marine-blue: #687685;

//brown
$dark-brown: #4C3C2E;
$brown: #A9691D;

//orange
$orange: #C55035
